<div ng-controller="masterController" ng-init="initialise()">

    <div ng-include="'Angular/masterPage/topMenu.html'"></div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th><a href="" ng-click="orderTable('name')">Country</a></th>
                    <th><a href="" ng-click="orderTable('population')">Population</a></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in main.countriesBySql | filter:filter | orderBy:sortField:reverse">
                    <td>{{item.name}}</td>
                    <td>{{item.population}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-view></ng-view>

    <div
        <ul>
            <li ng-repeat="country in main.countries | filter:main.filter">{{country.name}} ({{country.population}})</li>
        </ul>
    </div>

</div>