
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">GalaxiaUniversity</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/Books">Books</a></li>
                <li><a href="#/Products">Products</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left ng-pristine ng-valid" role="search">
                        <div class="form-group">
                            <input ng-model="main.filter" type="text" class="form-control" placeholder="filter">
                        </div>
                        <input type="submit" class="btn btn-default " ng-click="alert(main.filter)"></input>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>




