<div class="container">
        <!--hidden-xs-->
        <div id="my-carousel" class="carousel slide col-md-12 hidden-xs data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="1"></li>
                <li data-target="#my-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="http://placehold.it/1200x400&text=First+slide">
                    <div class="carousel-caption">
                        <h3>P1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="item col-xs-h">
                    <img alt="Second slide" src="http://placehold.it/1200x400&text=Second+slide">
                    <div class="carousel-caption">
                        <h3>p2</h3>
                        <p>Morbi eget libero quis metus consectetur semper.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" src="http://placehold.it/1200x400&text=Third+slide">
                    <div class="carousel-caption">
                        <h3>p3</h3>
                        <p>Suspendisse ullamcorper massa eget eleifend iaculis.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fourth slide" src="http://placehold.it/1200x675&text=Third+slide">
                    <div class="carousel-caption">
                        <h3>Your Solution</h3>
                        <p>Suspendisse ullamcorper massa eget eleifend iaculis.</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>


        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th><a href="" ng-click="orderTable('name')">Country</a></th>
                        <th><a href="" ng-click="orderTable('population')">Population</a></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in main.countriesBySql | filter:filter | orderBy:sortField:reverse">
                        <td>{{item.name}}</td>
                        <td>{{item.population}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p><a href="#/products/123">Product 123</a></p>
        <a href="#/products">Product</a>
    </div>
